.checkout {
	display: flex;
	justify-content: center;

	.checkout-item-list {
		width: 70%;
		display: flex;
		flex-direction: column;

		.checkout-label {
			margin-top: 30px;
			padding: 15px 10px 15px 0;
			border-bottom: solid gray 1px;
			display: flex;
			justify-content: space-between;
			font-weight: 600;

			span {
				width: 23%;
			}

			.span-remove {
				width: 8%;
			}
		}

		.checkout-description {
			display: flex;
			flex-direction: column;
		}

		.checkout-total {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 50px;
			padding-top: 30px;
			font-size: xx-large;
		}
	}
}
