.checkout-item {
	border-bottom: solid gray 1px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	height: 240px;

	& > * {
		width: 23%;
	}

	.image-container {
		padding: 10px 10px 10px 0;
		height: 240px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.item-quantity {
		display: inherit;
		align-items: center;
	}

	.closeIcon-div {
		width: 8%;
		padding-left: 12px;
	}

	.greaterThanIcon,
	.lessThanIcon,
	.closeIcon {
		cursor: pointer;
	}
}
